<h1>Registrar Nuevo Pedido</h1>

<form action="/orders" method="POST">
  <div class="mb-3">
    <label for="date" class="form-label">Fecha</label>
    <input type="date" class="form-control" id="date" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text" name="date"></div>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Descripcion</label>
    <input type="text" class="form-control" id="description">
  </div>
  <div class="mb-3"></div>
    <label for="customer_name" class="form-label">Nombre del Cliente</label>
    <input type="text" class="form-control" id="customer_name" name="customer_name">
  </div>
  <div class="mb-3"></div>
    <label for="ammount" class="form-label">Monto</label>
    <input type="text" class="form-control" id="ammount" name="ammount">
  </div>
  <div class="mb-3"></div>
    <label for="status" class="form-label">Estado</label>
    <input type="text" class="form-control" id="status" name="status">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
