<h1>Registrar Nuevo Pedido</h1>

<form action="/orders" method="POST">
    <label for="date">Date</label>
    <input type="date" name="date">
    <br>
    <label for="description">Description</label>
    <input type="text" name="description">
    <br>
    <label for="customer_name">Nombre</label>
    <input type="text" name="customer_name">
    <br>
    <label for="ammount">Monto</label>
    <input type="number" name="ammount">
    <br>
    <label for="status">Estado</label>
    <input type="text" name="status">
    <button type="submit">Save</button>
</form>
